#----------------#
# DATABASE SETUP #
#----------------#
DB_HOST=localhost
DB_PORT=54320
DB_NAME=cinema-app
DB_USER=homestead
DB_PASSWORD=secret


#-----------#
# APP SETUP #
#-----------#
APP_LOG_LEVEL=DEBUG

X_APPLICATION_ID=rs-self-onboarding/develop
COUNTRY_CODE=BR


API_KEY_VALUE=1234
EXTERNAL_CONNECT_TIMEOUT=10000
EXTERNAL_REQUEST_TIMEOUT=10000

#-----------#
# APP SETUP #
#-----------#
APP_LOG_LEVEL=INFO

X_APPLICATION_ID=rs-self-onboarding/develop
COUNTRY_CODE=BR
INTERNAL_BASE_URL=http://microservices.dev.marcos.com
EXTERNAL_BASE_URL=https://microservices.dev.marcos.com

API_KEY_VALUE=1234
EXTERNAL_CONNECT_TIMEOUT=10000
EXTERNAL_REQUEST_TIMEOUT=10000

#-----------------#
# AMAZON S3 SETUP #
#-----------------#
AWS_REGION=us-east-1
S3_BUCKET=restaurantes-dev