#----------------#
# DATABASE SETUP #
#----------------#
DB_HOST=localhost
DB_PORT=54320
DB_NAME=cinema-app
DB_USER=homestead
DB_PASSWORD=secret

#-----------#
# APP SETUP #
#-----------#
APP_LOG_LEVEL=INFO
API_KEY_VALUE= imdbapikey

X_APPLICATION_ID=1234
EXTERNAL_CONNECT_TIMEOUT=10000
EXTERNAL_REQUEST_TIMEOUT=10000